<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <link rel="stylesheet" href="contact.css">
    <title>Responsive Contact Us Page</title>
    <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/contact.css">
    
</head>

<body>
    
    <section>
        
          
        <div class="section-header">
            <div class="container">
                <h2>Contact Us</h2>
                {{!-- <div>
                    <img src="/static/images/contact-us/location-photo.jpg" alt="Location Photo" class="location-photo" width="600px" height="400px">
                    <a href="https://www.google.com/maps/place/GeeksforGeeks+%7C+Coding+Classes/@28.504825,77.39895,16z/data=!4m6!3m5!1s0x390ce626851f7009:0x621185133cfd1ad1!8m2!3d28.5048251!4d77.3989503!16s%2Fg%2F11bzy844_r?hl=en&entry=ttu">
                        <button class="view-map-button">View Larger Map</button>
                    </a>
                </div> --}}
                <div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7012.320565577237!2d77.39895!3d28.504825!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce626851f7009%3A0x621185133cfd1ad1!2sGeeksforGeeks%20%7C%20Coding%20Classes!5e0!3m2!1sen!2sin!4v1711198209371!5m2!1sen!2sin" width="1000px" height="600px" style="border:0;" allowfullscreen="none" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <p style="margin-top: 20px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
            </div>
            
        </div>

        <div class="container">
            <div class="row">

                <div class="contact-info">
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-home"></i>
                        </div>

                        <div class="contact-info-content">
                            <h4>Address</h4>
                            <p>ResCowork 07, 10th Floor,<br />Tower B Unitech Cyber Park,<br />Sector 39 Gurgaon Gurgaon <br />HR 122003 INDIA</p>
                            </a>
                        </div>
                    </div>

                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-phone"></i>
                        </div>

                        <div class="contact-info-content">
                            <h4>Phone</h4>
                            <p>571-457-2321</p>
                        </div>
                    </div>

                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-envelope"></i>
                        </div>

                        <div class="contact-info-content">
                            <h4>Email</h4>
                            <a href="mailto:sharmalakshit4037@gmail.com">sharmalakshit4037@gmail.com</a>
                        </div>
                    </div>
                </div>

                <!--- <div class="location-photo">-->


                

                <!-- <div class="input-box">
              <input type="text" required="true" name="">
              <span>Full Name</span>
            </div>
            
            <div class="input-box">
              <input type="email" required="true" name="">
              <span>Email</span>
            </div>
            
            <div class="input-box">
              <textarea required="true" name=""></textarea>
              <span>Type your Message...</span>   
            </div>
            
            <div class="input-box">
              <input type="submit" value="Send" name="">
            </div> -->



            </div>
            
    </section>

</body>

</html>